/node_modules
/.nyc_output
/temp
/coverage
/logs
/storage
/public
!coverage/.keep
.DS_Store
.env
.env.test
package-lock.json 

id_rsa
id_rsa.pub

!/public/storage/temp/.keep
!/public/storage/uploads/.keep
